extends ../base

block title
	='Custom binding'
block main
	header.mdl-layout__header
		.mdl-layout__header-row
			span.mdl-layout-title Custom binding
			.mdl-layout-spacer
			.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
				label.mdl-button.mdl-js-button.mdl-button--icon(for="fixed-header-drawer-exp")
					i.material-icons search
				.mdl-textfield__expandable-holder
					input#fixed-header-drawer-exp.mdl-textfield__input(type="text" name="sample")

	main.mdl-layout__content
		.mdl-grid
			.mdl-cell.mdl-cell--6-col
				p сортировка по вессу задачи и названию (кликнуть по заголовку таблицы)
				table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
					thead
						th.mdl-data-table__cell--non-numeric(data-bind='click:sortTitle , css: {"mdl-data-table__header--sorted-ascending": sortTitleFlag() > 0 ,"mdl-data-table__header--sorted-descending": sortTitleFlag() < 0 }') Задача
						th(data-bind='click:sortGravity , css: {"mdl-data-table__header--sorted-ascending": sortGravityFlag() > 0 ,"mdl-data-table__header--sorted-descending": sortGravityFlag() < 0 }') Вес задачи
						th сделано
						th удалить
					tbody(data-bind='foreach:todoList')
						tr(data-bind='css: {check: isChecked} ')
							td(data-bind='text:title')
							td(data-bind='text :gravity ')
							td


								label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(data-bind='click:check ,attr: {for:$index()+1 }, css: {"is-checked": isChecked}')
									input.mdl-switch__input(type="checkbox" data-bind='attr: {id:$index()+1 }, checked: isChecked')
									span.mdl-switch__label
							td
								button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(data-bind='click: $root.deleteTodo') delete



			.mdl-cell.mdl-cell--6-col
				form(data-bind='submit:doSomething')
					.demo-card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title Добавление
						.mdl-card__supporting-text
							.mdl-grid
								.mdl-cell.mdl-cell--6-col
									.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
										input#sample3.mdl-textfield__input( type="text" data-bind='value: title')
										label.mdl-textfield__label( for="sample3")= "название..."
								.mdl-cell.mdl-cell--6-col
									.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
										input#sample4.mdl-textfield__input(data-bind='value: gravity' type="text" pattern="-?[0-9]*(\.[0-9]+)?")
										label.mdl-textfield__label( for="sample4") вес...
										span.mdl-textfield__error не является числом!
						.mdl-card__actions.mdl-card--border
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type="submit") добавить
	footer.mdl-mega-footer
		.mdl-mini-footer__left-section
			.mdl-logo
				a(href='https://github.com/bad4iz/custom-binding') больше на github