extends ../base

block title
	='Custom binding'
block main
	h1(data-bind="text:info")

	button(data-bind="click:getName")= 'представтесь'
	table
		theadu
			tr
				th Название
				th Цена
		tbody(data-bind='foreach:coursesList')
			tr
				td(data-bind='text:title')
				td(data-bind='text :price')
